body {
    background: url("./starwars.png");
    background-size: cover;
    overflow: hidden;
    color: #ffb13a;
}

.crawl {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0 auto;
    font-size: 50px;
    line-height: 80px;
    width: 1000px;
    height: 1600px;
    transform: perspective(250px) rotateX(20deg);
    animation: scrollCrawl 10s linear;
}
span {
    text-transform: uppercase;
}
.preheader, .header {
    text-align: center;
    text-transform: uppercase;
}
.preheader {
    margin: 40px 0;
}
.header {
    margin: 0 0 100px 0;
}
@keyframes scrollCrawl {
    0% {
        transform: perspective(250px) rotateX(20deg) translateY(680px);
    }
    50%{}
    100%{
        transform: perspective(250px) rotateX(20deg) translateY(-4000px);
    }
}
        

